.container{
    width: 600px;
            margin: 0 auto;
            padding-top: 1px;
            padding-left: 10px;
            background-color: #a0cccd; 
            border-radius: 10px;
            background-image: url('imgsl10/moon_flag.png');
            background-repeat: no-repeat;
            background-size:300px; 
            background-position-x:400px;  /*  */
            background-position-y:90px ;
      
}

h1{
    background-color: coral;
    position: relative;
    right: 25px;
    padding-left:30px ;
    font-family:'Times New Roman', Times, serif;
    width: 75%;
}

input[type="text"] {
    padding: 10px;
    margin-bottom: 10px;
    border: none;
    border-bottom:2px solid #5a8f90; ;
    box-sizing: border-box; /* щоб padding не збільшував ширину елемента */
    background-color: #addcdd;
}

input[name="card_number"],input[name="card_owner"] {
    width: 70%;
}
.expiry-inputs{
    display: flex;
    flex-direction: row;
    
    input[type="text"] {
        width: 90%;
    margin-right:-50px ;}
}
